.main {
  width: 100%;
  height: 100vh;
  padding: 0rem 2rem 1rem;
  background-color: #3b82f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

picture {
  width: 100%;
}

.authbtns {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  .main {
    padding-top: 5rem;
  }
  picture {
    width: auto;
  }
}
