.dnbutton {
  display: none;
  padding: 8px 10px;
  background-color: #3b82f6;
  border: 2px solid white;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #0b1220;
  cursor: pointer;
}

.mnbtns {
  composes: dnbutton;
  display: block;
}

.snbtns {
  composes: dnbutton;
  padding: 4px 12px;
  font-size: 0.8rem;
  font-weight: normal;
  border: 1px solid #ffffff;
  display: block;
}


.editInput {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 14px;
  width: 120px;
}

.saveBtn, .cancelBtn {
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}


.subbtns {
  composes: snbtns;
  padding: 4px;
}

.mainbtns {
  composes: dnbutton;
  display: block;
  border-color: #0b1220;
}

.menubtn {
  composes: dnbutton;
  display: block;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #1e3a8a;
}

.addbtn {
  composes: menubtn;
  padding: 5px;
  border: 1px solid #ffffff;
  background-color: #3b82f6;
}

.dnbutton:hover {
  transform: scale(1.1);
}

.snbtns:hover {
  transform: scale(1.08);
}

@media screen and (min-width: 570px) {
  .dnbutton[dis="0"] {
    display: block;
  }
  .mnbtns[dis="0"] {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .dnbutton[dis="1"] {
    display: block;
  }
  .mnbtns[dis="1"] {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .dnbutton {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1000px) {
  .dnbutton[dis="2"] {
    display: block;
  }
  .mnbtns[dis="2"] {
    display: none;
  }
}

@media screen and (min-width: 1150px) {
  .dnbutton[dis="3"] {
    display: block;
  }
  .mnbtns[dis="3"] {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .dnbutton[dis="4"] {
    display: block;
  }
  .mnbtns[dis="4"] {
    display: none;
  }
}

@media screen and (min-width: 1450px) {
  .dnbutton[dis="5"] {
    display: block;
  }
  .mnbtns[dis="5"] {
    display: none;
  }
}
