.main {
  margin: auto auto;
  margin-top: 0.5rem;
  width: 90%;
  background-color: #dbeafe;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
}

.head {
  flex: 1;
  padding: 0.6rem;
  font-size: 1.3rem;
  background-color: #3b82f6;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.content {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 2px solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.infobtn {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.editcatToggle {
  z-index: 5;
  position: absolute;
  transform: scale(0);
  padding: 1rem;
  height: fit-content;
  background-color: #dbeafe;
  border: 1px solid #000000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editcatTogleopen {
  transform: scale(1);
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.frombtndiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.fromdatabtn {
  width: fit-content;
  align-self: flex-end;
}

.Toggle{
  z-index: 5;
  position: absolute;
  transform: scale(0);
  padding: 1rem;
  width: 89%;
  height: fit-content;
  background-color: #dbeafe;
  border: 1px solid #000000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Toggleopen{
  transform: scale(1);
}

.toggleDiv{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toggleDivSub{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toggleDivSub2{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btnDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}


@media screen and (min-width: 400px) {
  .editcatToggle {
    width: 80%;
  }
  .inputDiv {
    flex-direction: row;
  }
  .inputDiv > input {
    width: 50%;
  }
  .toggleDivSub2{
    flex-direction: row;
  }
  .toggleDivSub2 > input{
    width: 50%;
  }
}
@media screen and (min-width: 500px) {
  .main {
    width: 75%;
  }
  .editcatToggle {
    width: 65%;
  }
  .Toggle {
    width: 75%;
  }
}

@media screen and (min-width: 600px) {
  .editcatToggle {
    width: 45%;
  }
}

@media screen and (min-width: 800px) {
  .main {
    width: 90%;
  }
  .info {
    width: 48%;
  }
  .editcatToggle {
    width: 85%;
    flex-direction: row;
  }
  .Toggle {
    width: 90%;
  }
  .toggleDivSub{
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .editcatToggle {
    width: 80%;
  }
}

@media screen and (min-width: 1030px) {
  .info {
    width: 32%;
  }
  .editcatToggle {
    width: 50%;
  }
  .Toggle{
    width: 80%;
  }
}
@media screen and (min-width: 1150px) {
  .Toggle{
    width: 90%;
  }
  .toggleDiv{
    flex-direction: row;
  }
}

@media screen and (min-width: 1270px) {
  .editcatToggle {
    margin-top: 1rem;
  }
  .editcatToggle[dis="yes"] {
    margin-top: 0rem;
  }
  .Toggle{
    flex-direction: row;
  }
}

@media screen and (min-width: 1500px) {
  .info {
    width: 23.5%;
  }
}
