.logo {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.subimg {
  width: 18px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  margin-left: 8px; 
  vertical-align: middle;
}

.subimg:hover{
   transform: scale(1.3);
}

@media screen and (min-width: 700px) {
  .subimg{
    width: 25px;
  }
}
